/* 详情页样式开始 */
.goods{
  font-size: 14px;
  background: #eaeaea;
}
.goods_detail{
  position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 50px;
    overflow: hidden;
    zoom: 1;
    color: #424242;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
}
.goods_detail h1{
  font-size: 24px;
  line-height: 50px;
  text-indent: -20px;
}
.intro{
  position: absolute;
    width: 50px;
    color: #fff;
    height: 50px;
}
.intro a{
  height: 50px;
  text-align: center;
  display: inline-block;
  padding-right: 10px;
}
.intro a img{
  padding: 8px 0;
    width: 25px;
    height: 25px;
}
.goods_detail .left{left: 0;top: 0px;}
.goods_detail .right{right: 0;top: 0px;width:100px; }
.contain{
  padding: 10px;
  width: 100%;
  background: #fff;
  box-sizing:border-box;
}
.contain .primary-info{
  background: #fff;
  width: 100%;
  padding-top: 5px;
}
.primary-info h2{
  text-align: center;
  padding: 10px;
  line-height: 24px;
    color: #424242;
    font-size: 18px;
}
.primary-info p{
  padding: 5px 10px 10px;
  line-height: 20px;
  font-size: 16px;
    color: #999;
    text-align: center;
}
.primary-info .info-price{
  margin-top: 10px;
  height: 20px;
}
.primary-info p .now{
  font-size: 20px;
  color: #000;
}
.primary-info p .market{
  font-size: 16px;
  margin: 4px 10px 0px;
  line-height: 16px;
  text-decoration: line-through;
}
.primary-info p .discount{
  font-size: 14px;
  line-height: 18px;
  padding: 2px 6px 0px;
  color: #fff;
  background: #ec312d;
}
.primary-info .info-other .item{
  padding: 0 10px;
  font-size: 14px;
  line-height: 14px;
  border-right: 1px solid #dbdbdb;
}
.primary-info .info-other span:last-child{
  border-right: none;
}
.detail-wrap{
  width: 100%;
  height: 45px;
  margin-top: 10px;
  padding: 0px 10px 5px;
  font-size: 16px;
  background: #fff;
  box-sizing:border-box;
}
.detail-wrap span{
  display: inline-block;
  padding: 0px 5px;
}
.detail-wrap .left{
  float: left;
}
.detail-wrap .right{
  float: right;
  margin-right: 40px;
  position: relative;
}
.detail-wrap .arrow{
  border-top: 1px solid #999;
    border-left: 1px solid #999;
    width: 10px;
    height: 10px;
    background-color: transparent;
    -webkit-transform: rotate(135deg);
    display: inline-block;
    margin-left: 5px;
}
/* 评价列表 */
.rates-list{
  padding: 0px 15px;
  background: #fff;
}
.rates-item{
  border-top: 1px solid #eee;
    padding-top: 10px;
    margin-bottom: 10px;
}
.rate-user .user-info{
  text-decoration: none;
  display: inline-block;
  line-height: 41px;
  color: #5e5e5e;
}
.rate-user .user-info span{
  padding-left: 10px;
}
.rate-user .user-info img{
  width: 41px;
    height: 41px;
    border: 1px solid #efefef;
    vertical-align: middle;
    box-sizing: border-box;
    webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.rates-item p{
  padding: 4px 0px 8px;
}
.rates-item>img{
  display: inline-block;
  width: 30%;
  height: 100px;
  padding-right: 5px;
  padding-bottom: 10px;
}
/* 商品详情 */
.detail-content{
  margin-top: 10px;
  background: #fff;
}
.detail-content .tabpanel-tabs{
    list-style-type: none;
    background-color: #fff;
    display: -webkit-box;
}
.detail-content .tabpanel-tabs li{
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #eee;
    -webkit-box-flex: 1;
}
.detail-content .tabpanel-tabs .active{
  border-bottom: 1px solid #F13E3A;
}
.detail-content .tabpanel-tabs li span{
  display: block;
  margin: 15px 0px 14px;
    line-height: 16px;
    border-right: 1px solid #e5e5e5;
    color: #333;
    font-size: 16px;
    text-align: center;
}

.detail-content .tabpanel-text{
  padding: 15px;
  display: none;
}
.detail-content .show{
  display: block;
}
.detail-content .tabpanel-text p{
  padding: 6px 0px; 
  font-size: 14px;
  line-height: 20px;
  text-indent: 2em;
}
.detail-content .tabpanel-text p img{
  width: 100%;
  display: block;
}
.detail-content .tabpanel-text table{
  width: 90%;
  background: #fff;
  display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    margin: 0 auto;
}
.tabpanel-text tbody{
  display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.tabpanel-text tr{
  display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-bottom: 1px solid #f4f4f4;
}
.tabpanel-text td {
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    color: #727272;
}
.tabpanel-text td:first-child {
    width: 100px;
}
/* 详情页样式结束 */